
<div class="h3_about">
<h3>From Blacksmith to RoR Developer</h3>
</div>

<div class="sidebar_about">
    <ul><h1>Contact</h1></ul>
    <ul><%= link_to image_tag("cool_email.jpg"), 'email' %></ul>

    <ul><%= link_to image_tag("blogger_tie_copy.png"), 'http://joshuakemp.blogspot.com/' %></ul>
    <ul><%= link_to image_tag("google_images.jpg"), 'https://plus.google.com/u/0/106300667835431231840/posts' %></ul>
    <ul><%= link_to image_tag("github_5.png"), 'https://github.com/joshuakemp1' %></ul>
   
    <ul><%= link_to image_tag("twitter4_real.jpg"), 'https://twitter.com/Joshuakemp01' %></ul>
   
</div>


<div class="center_image_about_1">
<%= image_tag "boys.jpg"  %>


<div class="p_resume">
<p> Josh is 28 years old has been self employed for the past 7.5 years. Since June 2012, He knew that he wanted to one day be a web developer after playing around with C# and the .Net framework. Josh finally found his passion, RoR, and for the past 7 months he has been sold out to learning RoR and related technologies. In the past 7 months he has averaged over 21 hours per week studying, attending local meetups and pair programming. All while working full time as a Farrier (Shoeing horses), supporting his wife and 2 boys. If you could descibe him in just one word, it would be "passion". </p>
</div>

<div class="center_image_about_2">
<%= image_tag "sexy_wife.jpg"  %>
</div>

<p>Josh is so grateful to be married to his beautiful, supportive wife who has been a constant support throughout the entire "Learning Journey". When not shoeing horses or coding he will usually be found playing with his 2 little guys, Benjamin and Ian who are 3.5 years old and 17 months. </p>

<div class="center_image_about_3">
<%= image_tag "ian.jpg"  %>
</div>





