<p>I'm a self taught RoR developer with just over 800+ hours of learning/studying, I want to get hired as a Junior RoR developer please share and retweet to help make this happen.</p>
<br></br>



<div class="sidebar_2">

</div>

<div class="sidebar">
    <ul><h1>Contact</h1></ul>
    <ul><%= link_to image_tag("cool_email.jpg", alt: "Let's Talk!"), 'email' %></ul>

    
    <ul><%= link_to image_tag("google_images.jpg", alt: "Google +"), 'https://plus.google.com/u/0/106300667835431231840/posts' %></ul>


    <ul><%= link_to image_tag("blogger_tie_copy.png", alt: "My Blog"), 'http://joshuakemp.blogspot.com/' %></ul>

    <ul><%= link_to image_tag("twitter4_real.jpg", alt: "Follow me on Twitter"), 'https://twitter.com/Joshuakemp01' %></ul>

     <ul><%= link_to image_tag("ironman_github.jpg",alt: "My Github Repos"), 'https://github.com/joshuakemp1' %></ul>
   
   
     
   
</div>

<div class="home_center_youtube">
<span style="background-color:#fff;"> 
<iframe id="youtube_shadow" width="610" height="345" src="http://www.youtube.com/embed/KjdHgzOVvVw?showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
<br></br>


<div class="arrow_text">
<%= "Please don't let it come to this!" %>
</div>

<div class="arrow_text">
<%=image_tag("arrow_copy.jpg")%>
</div>





<div class="home_center_image">
<%= image_tag "josh_homeless.jpg"  %>
</div>



<div class="h4_home_text">
<h4>...Come on seriously help me out before I get desperate... I'll love you forever  :-)</h4>
</div>


